In [5]:
#Import Required Pacakges
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import math
import pickle

In [6]:
# load Corpus Dataframe
#Open Corpus of News Article Text
with open('../news_articles_processing/data_frames/bitcoin_news_df_processed_for_modeling.pickle', 'rb') as file:
     bitcoin_news_df = pickle.load(file)

In [7]:
#Create Sentiment Dataframe and Add Dates and Sentences with Numbers Column from bitcoin dataframe
sentiment_df = pd.DataFrame(columns=['date','sent_with_num','sentiment_individual_sentences'])

#Assign Date and Sent With Number Values
sentiment_df.date = bitcoin_news_df['date']
sentiment_df.sent_with_num = bitcoin_news_df['sent_with_num']

#Join sentences with number into single paragraph
sentiment_df.sent_with_num = sentiment_df.sent_with_num.apply(lambda x: ' '.join(x))

In [12]:
sentiment_df.sample(5)

,date,sent_with_num,sentiment_individual_sentences
3551,2015-12-20 00:00:00,this more recent attempt started back in 2014 ...,NaN
8764,2016-07-21 06:10:10+00:00,new york reuters bitcoin exchange coinbase sa...,NaN
11045,2017-04-05 13:30:07+00:00,26 october 2017 0000 utcunknown hackers attack...,NaN
7251,2016-05-13 13:20:00+00:00,the case honoured with the award concerned an ...,NaN
6238,2016-04-04 12:32:32+00:00,according to el mundo such transparency consti...,NaN